* {
	margin: 0;
	padding: 0
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
table,
tr,
th,
td,
p,
img,
textarea,
pre,
b,
i,
label,
form,
em,
select,
input,
div,
span {
	margin: 0;
	padding: 0
}

body {
	color: #333;
	background-color: #fff
}

body,
input,
textarea,
select,
button {
	font: normal normal 12px/1.7 SourceSansPro-Regular, PingFangSC-Regular, Microsoft Yahei, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased
}

ol,
li {
	list-style: none
}

a {
	color: #333;
	text-decoration: none
}

a:active,
a:focus {
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: none
}

input:focus,
select:focus,
textarea:focus {
	outline: none
}

input,
button {
	overflow: visible;
	outline: none
}

b,
i,
em,
strong {
	font-style: normal;
	font-weight: normal
}

img {
	border-style: none;
	display: block;
	vertical-align: middle;
	text-indent: -9999em
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0
}

table th,
table td {
	padding: 0
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important
}

.fl {
	float: left
}

.fr {
	float: right
}

.u-bs-sidebar {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06)
}

.m-bsb {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08)
}

.u-bgbs {
	background-color: #fff;
	border: 1px solid #E6E6E6\0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08)
}

.u-bgbs-sidebar {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06)
}

.u-fcr {
	color: #ff5757 !important;
	color: #ff5757\0
}

.u-fcg {
	color: #2fd375
}

.u-fcff {
	color: #fff !important;
	color: #ffffff\0
}

.u-fcftd {
	color: #f80;
	text-decoration: underline
}

.cb {
	zoom: 1;
	margin-bottom: 50px;
}

.cb:after,
.cb:before {
	content: '';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.g-wrap {
	width: 1200px;
	margin-left: auto;
	margin-right: auto
}

.dib {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.u-w100 {
	width: 100%
}

.f-ws {
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ts {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

:-moz-placeholder {
	color: #b8b8b8;
	font-family: 'Microsoft YaHei'
}

::-moz-placeholder {
	color: #b8b8b8;
	font-family: 'Microsoft YaHei'
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b8b8b8;
	font-family: 'Microsoft YaHei'
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #b8b8b8;
	font-family: 'Microsoft YaHei'
}

.u-bn {
	border: none !important
}

a.morem span {
	padding-left: 5px
}

a.more,
a.sche-back {
	color: #999
}

a.more span,
a.sche-back span {
	padding-left: 5px;
	font-size: 12px;
	font-family: "SimSun"
}

a.more:hover,
a.sche-back:hover {
	text-decoration: underline
}

a.sche-back span {
	padding-right: 5px
}

span.u-ffs {
	padding-left: 5px;
	font-size: 12px;
	font-family: "SimSun"
}

.u-mon {
	padding-left: 12px;
	color: #f80;
	background: url("../images/i-money.png") no-repeat 0 center
}

.u-hj {
	display: inline-block;
	padding: 3px 6px;
	line-height: 12px;
	color: #fff;
	border-radius: 3px
}

.u-gzhhj {
	background-color: #2fd375 !important
}

.u-hrhj {
	background-color: #ff4f5b !important
}

.u-bgb {
	background-color: #54b9ff !important
}

.u-bgy {
	background-color: #fc0 !important
}

dl.m-gzhhj .u-hrhj {
	-webkit-box-shadow: 0 0 8px rgba(255, 79, 91, 0.5);
	-moz-box-shadow: 0 0 8px rgba(255, 79, 91, 0.5);
	box-shadow: 0 0 8px rgba(255, 79, 91, 0.5)
}

dl.m-gzhhj .u-gzhhj {
	-webkit-box-shadow: 0 0 8px rgba(47, 211, 117, 0.5);
	-moz-box-shadow: 0 0 8px rgba(47, 211, 117, 0.5);
	box-shadow: 0 0 8px rgba(47, 211, 117, 0.5)
}

.u-bgff {
	background-color: #fff !important
}

.u-bgr {
	background-color: #fff !important
}

.u-bgff {
	background-color: #fff !important
}

.u-fcf {
	color: #f80
}

.u-fc9 {
	color: #999
}

.u-fc3 {
	color: #333
}

.u-tac {
	text-align: center !important
}

.u-tal {
	text-align: left !important
}

.u-fb {
	font-weight: bold
}

.u-mrn {
	margin-right: 0 !important
}

a.u-db,
div.u-bd,
b.u-bd,
input.u-bd {
	display: block !important
}

.u-prelative {
	position: relative
}

.u-mt5 {
	margin-top: 50px
}

.u-mt4 {
	margin-top: 40px
}

.u-mt3 {
	margin-top: 30px
}

.u-mt2 {
	margin-top: 20px !important
}

.u-mt1 {
	margin-top: 10px
}

.u-mt14 {
	margin-top: 14px
}

.u-mt0 {
	margin-top: 0 !important
}

.u-pl2 {
	padding-left: 25px
}

.u-fs12 {
	font-size: 12px
}

.u-fs14 {
	font-size: 14px
}

.u-fs16 {
	font-size: 16px
}

.u-fs18 {
	font-size: 18px;
	line-height: 18px
}

.u-fs20 {
	font-size: 20px
}

.u-fs24 {
	font-size: 24px
}

.u-dsn {
	display: none
}

.u-bright {
	border-right: 1px solid #e6e6e6
}

.bs {
	-webkit-box-shadow: 0 0 8px rgba(255, 136, 0, 0.5);
	-moz-box-shadow: 0 0 8px rgba(255, 136, 0, 0.5);
	box-shadow: 0 0 8px rgba(255, 136, 0, 0.5)
}

.bs-b {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.bs-1 {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}

.bs-2 {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.u-inbs {
	-webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1)
}

.bs-g {
	-webkit-box-shadow: 0 0 8px rgba(47, 211, 117, 0.5);
	-moz-box-shadow: 0 0 8px rgba(47, 211, 117, 0.5);
	box-shadow: 0 0 8px rgba(47, 211, 117, 0.5)
}

.bs-r {
	-webkit-box-shadow: 0 0 8px rgba(255, 79, 91, 0.5);
	-moz-box-shadow: 0 0 8px rgba(255, 79, 91, 0.5);
	box-shadow: 0 0 8px rgba(255, 79, 91, 0.5)
}

.u-btn-24,
.u-btn-34,
.u-btn-40,
.u-btn-28,
.Pnd-side-btn,
.u-btn-48,
.u-btn-110,
.u-btn-80,
.u-btn-56,
.u-btn-w90,
.u-btn-w190,
.u-btn-w150,
.u-btn-h23,
.u-btn-p13 {
	text-align: center;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.u-btn-34 {
	width: 98px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	border-radius: 3px
}

.u-btn-24 {
	width: 68px;
	height: 22px;
	line-height: 22px
}

.u-btn-80 {
	width: 78px;
	height: 28px;
	line-height: 28px
}

.u-btn-p13 {
	padding: 5px 31px;
	border-radius: 40px;
	display: inline-block;
	background: #f00;
	font-size: 14px
}

.u-br3 {
	border-radius: 3px
}

.u-br-24 {
	border-radius: 24px
}

.u-btn-bgf {
	color: #fff !important;
	color: #ffffff\0;
	background-color: #f80;
	border: 1px solid #f80;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.u-btn-bgf:hover {
	-webkit-box-shadow: 0 0 8px rgba(255, 136, 0, 0.5);
	-moz-box-shadow: 0 0 8px rgba(255, 136, 0, 0.5);
	box-shadow: 0 0 8px rgba(255, 136, 0, 0.5)
}

.u-btn-bgg {
	background-color: #dbdbdb;
	border: 1px solid #dbdbdb;
	color: #fff !important;
	color: #ffffff\0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.u-btn-bgg:hover {
	background-color: #f80;
	border: 1px solid #f80;
	color: #fff
}

.u-btn-bggg {
	border: 1px solid #dbdbdb !important;
	background-color: #f0f0f0;
	color: #999 !important;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.u-btn-bggg:hover {
	background-color: #e5e5e5
}

.u-btn-bggn {
	color: #fff !important;
	color: #ffffff\0;
	background-color: #dbdbdb;
	border: 1px solid #dbdbdb;
	color: #fff
}

.u-btn-bf {
	border: 1px solid #f80;
	color: #f80 !important
}

.u-btn-bf:hover {
	text-decoration: none !important;
	color: #fff !important
}

.u-btn-bfbfff {
	border: 1px solid #f80;
	color: #f80 !important
}

.u-btn-bfbfff:hover {
	text-decoration: none !important
}

.u-btn-bgfg {
	border: 1px solid #dbdbdb;
	color: #999
}

.u-btn-bgf3 {
	border: 1px solid #dbdbdb;
	color: #333;
	font-size: 12px
}

.u-btn-bgf3:hover {
	color: #f80;
	border: 1px solid #f80
}

.u-btn-bg {
	border: 1px solid #bdbdbd;
	color: #a8a8a8
}

.u-btn-bg:hover {
	color: #a8a8a8 !important;
	text-decoration: none !important
}

.u-btn-b9 {
	border: 1px solid #fff;
	color: #999;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.u-btn-b9:hover {
	border: 1px solid #f80;
	color: #f80
}

.u-btn-40,
.u-btn-w190,
.u-btn-w150 {
	height: 40px;
	line-height: 40px;
	font-size: 14px
}

.u-btn-40 {
	width: 120px
}

.u-btn-w190 {
	width: 190px;
	border-radius: 3px
}

.u-btn-w150 {
	width: 150px;
	border-radius: 3px
}

.u-btn-28 {
	width: 80px
}

.u-btn-28,
.u-btn-56 {
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.u-btn-28:hover,
.u-btn-56:hover {
	color: #fff !important;
	color: #ffffff\0;
	background-color: #f80
}

.u-btn-56 {
	width: 54px
}

.u-btn-48 {
	width: 398px;
	height: 46px;
	line-height: 48px
}

.u-btn-110 {
	width: 108px;
	height: 43px;
	line-height: 45px
}

.u-w400,
.u-w280,
.u-w200 {
	font-size: 14px;
	padding: 12px 10px;
	border: 1px solid #e6e6e6;
	font-family: "Microsoft YaHei";
	border-radius: 3px
}

.u-w400 {
	width: 378px
}

.u-w30 {
	width: 30px
}

.u-w80 {
	width: 80px
}

.u-w100p {
	width: 100px
}

.u-w102 {
	width: 102px;
	height: 102px;
	overflow: hidden;
	border-radius: 3px
}

.u-btn-h23 {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
	border-radius: 3px;
	cursor: pointer
}

.txt-w490 {
	width: 468px
}

.txt-w200 {
	width: 178px
}

.txt-h36 {
	padding: 9px 10px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dbdbdb;
	border-radius: 3px
}

.u-w280 {
	width: 258px
}

.u-w200 {
	width: 200px
}

.u-w140 {
	width: 140px !important
}

.u-wh100 {
	width: 100px;
	height: 100px
}

.u-w1200 {
	width: 1200px;
	overflow: hidden
}

.g-wrap8 {
	width: 800px;
	margin: 0 auto
}

.u-se-bg {
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #E6E6E6\0
}

.bg-c {
	background-color: #f5f8fa
}

.u-fs34 {
	font-size: 34px;
	font-weight: 500;
	letter-spacing: 1em
}

.u-fs30 {
	font-size: 30px
}

.u-wh36 {
	width: 36px;
	height: 36px
}

.g-warp-460,
.g-warp-540,
.g-warp-612 {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 3px;
	background-color: #fff;
	z-index: 100
}

.g-warp-612 {
	top: 10%;
	width: 612px
}

.g-warp-460 {
	top: 40%;
	width: 460px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}

.g-warp-540 {
	top: 30%;
	width: 540px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.u-bgcfa {
	background-color: #fafafa
}

.u-ml3 {
	margin-left: 30px
}

.u-ml1 {
	margin-left: 10px
}

.u-p30 {
	padding: 30px
}

.u-mr1 {
	margin-right: 10px
}

.u-mb-100 {
	margin-bottom: -100px
}

.u-mb1 {
	margin-bottom: 10px
}

.u-mbn {
	margin-bottom: 0 !important
}

.u-mb6 {
	margin-bottom: 60px
}

.u-mb15 {
	margin-bottom: 15px !important
}

.u-mab55 {
	margin-bottom: 55px
}

.u-mab80 {
	margin-bottom: 80px
}

.u-mab100 {
	margin-bottom: 100px
}

.u-mab30 {
	margin-bottom: 30px !important
}

.u-mb2 {
	margin-bottom: 20px
}

.u-p5 {
	padding: 50px 0
}

.u-margin0 {
	height: 100%;
	width: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}

.u-w96 {
	width: 96px;
	height: 96px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #ebebeb;
	border-radius: 3px
}
